<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.beagle.dt.unit.BeagleApplication</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
        <string>com.apple.dt.unit.sceneLifecycleApplication</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses Beagle.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>NameOfInitialFileForEditor</key>
    <string>ContentView.swift</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>ViewController.h:comments</string>
                        <string>ViewController.h:imports:importCocoa</string>
                        <string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
                        <string>ViewController.m:comments</string>
                        <string>ViewController.m:imports:importHeader:ViewController.h</string>
                        <string>ViewController.m:extension</string>
                        <string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
                        <string>ViewController.m:implementation:methods:viewDidLoad:super</string>
                        <string>Info.plist:UIMainStoryboardFile</string>
                        <string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
                        <string>Base.lproj/Main.storyboard</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Base.lproj/Main.storyboard</key>
                        <dict>
                            <key>Path</key>
                            <string>Main.storyboard</string>
                            <key>SortOrder</key>
                            <integer>98</integer>
                        </dict>
                        <key>Info.plist:UIMainStoryboardFile</key>
                        <string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
                            &lt;string&gt;Main&lt;/string&gt;
                        </string>
                    </dict>
                </dict>
                <key>Swift</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>userInterface</key>
                            <string>Storyboard</string>
                        </dict>
						<key>Nodes</key>
						<array>
							<string>ViewController.swift:comments</string>
							<string>ViewController.swift:imports:importCocoa</string>
							<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
							<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
							<string>Info.plist:UIMainStoryboardFile</string>
							<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
							<string>Base.lproj/Main.storyboard</string>
                            <!--BeagleConfig-->
                            <string>BeagleConfig/BeagleConfig.swift</string>
                            <string>BeagleConfig/CustomNetworkClient.swift</string>
                            <string>BeagleConfig/CustomBeagleLogger.swift</string>
                            <string>BeagleConfig/CustomCacheManager.swift</string>
                            <string>BeagleConfig/CustomImageDownloader.swift</string>
                            <string>BeagleConfig/CustomImageDownloader.swift</string>
                            <!--BeagleAnalytics-->
                            <string>BeagleAnalytics/CustomAnalytics.swift</string>
                            <string>BeagleAnalytics/CustomAnalyticsProvider.swift</string>
                            <!--CustomActions-->
                            <string>CustomActions/CustomAction.swift</string>
                            <string>CustomActions/CustomAnalyticsAction.swift</string>
                            <!--CustomComponents-->
                            <string>CustomComponents/CustomComponent.swift</string>
                            <!--CustomDeepLinkHandler-->
                            <string>CustomDeepLinkHandler/CustomDeepLinkScreenHandler.swift</string>
                            <!--DesignSystem-->
                            <string>DesignSystem/CustomTheme.swift</string>
						</array>
						<key>Definitions</key>
                        <dict>
                            <key>Base.lproj/Main.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>Main.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <!--BeagleConfig-->
                            <key>BeagleConfig/BeagleConfig.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleConfig</string>
                                <key>Path</key>
                                <string>BeagleConfig/BeagleConfig.swift</string>
                            </dict>
                            <key>BeagleConfig/CustomNetworkClient.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleConfig</string>
                                <key>Path</key>
                                <string>BeagleConfig/CustomNetworkClient.swift</string>
                            </dict>
                            <key>BeagleConfig/CustomBeagleLogger.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleConfig</string>
                                <key>Path</key>
                                <string>BeagleConfig/CustomBeagleLogger.swift</string>
                            </dict>
                            <key>BeagleConfig/CustomCacheManager.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleConfig</string>
                                <key>Path</key>
                                <string>BeagleConfig/CustomCacheManager.swift</string>
                            </dict>
                            <key>BeagleConfig/CustomImageDownloader.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleConfig</string>
                                <key>Path</key>
                                <string>BeagleConfig/CustomImageDownloader.swift</string>
                            </dict>
                            <!--BeagleAnalytics-->
                            <key>BeagleAnalytics/CustomAnalytics.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleAnalytics</string>
                                <key>Path</key>
                                <string>BeagleAnalytics/CustomAnalytics.swift</string>
                            </dict>
                            <key>BeagleAnalytics/CustomAnalyticsProvider.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>BeagleAnalytics</string>
                                <key>Path</key>
                                <string>BeagleAnalytics/CustomAnalyticsProvider.swift</string>
                            </dict>
                            <!--CustomActions-->
                            <key>CustomActions/CustomAction.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>CustomActions</string>
                                <key>Path</key>
                                <string>CustomActions/CustomAction.swift</string>
                            </dict>
                            <key>CustomActions/CustomAnalyticsAction.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>CustomActions</string>
                                <key>Path</key>
                                <string>CustomActions/CustomAnalyticsAction.swift</string>
                            </dict>
                            <!--CustomComponents-->
                            <key>CustomComponents/CustomComponent.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>CustomComponents</string>
                                <key>Path</key>
                                <string>CustomComponents/CustomComponent.swift</string>
                            </dict>
                            <!--CustomDeepLinkHandler-->
                            <key>CustomDeepLinkHandler/CustomDeepLinkScreenHandler.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>CustomDeepLinkHandler</string>
                                <key>Path</key>
                                <string>CustomDeepLinkHandler/CustomDeepLinkScreenHandler.swift</string>
                            </dict>
                            <!--DesignSystem-->
                            <key>DesignSystem/CustomTheme.swift</key>
                            <dict>
                                <key>Group</key>
                                <string>DesignSystem</string>
                                <key>Path</key>
                                <string>DesignSystem/CustomTheme.swift</string>
                            </dict>
                            <key>SceneDelegate.swift:implementation:properties:window</key>
                            <string>var window: UIWindow? </string>
                            <key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
                            <string>BeagleConfig.start()
guard let windowScene = (scene as? UIWindowScene) else { return }
window = UIWindow(windowScene: windowScene)
window?.rootViewController = BeagleScreenViewController(
    Container(widgetProperties: .init(Flex().grow(1).alignItems(.center).justifyContent(.center))) {
        Text("Hello world!")
    }
)

window?.makeKeyAndVisible()
                        </string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>userInterface</key>
                            <string>SwiftUI</string>
                            <key>appLifecycle</key>
                            <string>Cocoa</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>Preview Content/Preview Assets.xcassets</string>
                            <string>SceneDelegate.swift:imports:importSwiftUI</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body:windowScene</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
                            <string>
// Create the SwiftUI view that provides the window contents.
let contentView = ContentView()
</string>
                            <key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body:windowScene</key>
                            <string>
// Use a UIHostingController as window root view controller.
if let windowScene = scene as? UIWindowScene {
    let window = UIWindow(windowScene: windowScene)
    window.rootViewController = UIHostingController(rootView: contentView)
    self.window = window
    window.makeKeyAndVisible()
}</string>
                            <key>*:imports:importSwiftUI</key>
                            <string>import SwiftUI</string>
                        </dict>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>ENABLE_PREVIEWS</key>
                                    <string>YES</string>
                                    <key>DEVELOPMENT_ASSET_PATHS</key>
                                    <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>userInterface</key>
                            <string>SwiftUI</string>
                            <key>coreData</key>
                            <string>true</string>
                            <key>appLifecycle</key>
                            <string>Cocoa</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
                            <string>
// Get the managed object context from the shared persistent container.
let context = (UIApplication.shared.delegate as! AppDelegate).persistentContainer.viewContext

// Create the SwiftUI view and set the context as the value for the managedObjectContext environment keyPath.
// Add `@Environment(\.managedObjectContext)` in the views that will need the context.
let contentView = ContentView().environment(\.managedObjectContext, context)
</string>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>userInterface</string>
            <key>Name</key>
            <string>Interface:</string>
            <key>Description</key>
            <string>The type of user interface.</string>
            <key>Values</key>
            <array>
                <string>SwiftUI</string>
                <string>Storyboard</string>
            </array>
            <key>Default</key>
            <string>SwiftUI</string>
            <key>Type</key>
            <string>popup</string>
        </dict>
    </array>
</dict>
</plist>
